name: DevSecOps (Mongo + Local Sonar + ZAP)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # --- JOB 1: BUILD & CHECK CODE ---
  build-analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Lay code ve
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cai dat Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build va Test (Ket noi Mongo)
        run: mvn -B verify
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}

      - name: Quet SonarQube (Qua Ngrok)
        uses: SonarSource/sonarqube-scan-action@master
        continue-on-error: true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      # Nếu code coverage < 80% (mặc định), nó sẽ dừng ở đây.

  # --- JOB 2: TẤN CÔNG WEB ---
  security-scan:
    needs: build-analyze
    runs-on: ubuntu-latest
    steps:
      - name: Lay code ve
        uses: actions/checkout@v4

      - name: Cai dat Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Khoi dong Web (Chay ngam)
        run: |
          mvn spring-boot:run &
          echo "Dang khoi dong web... Doi 30 giay..."
          sleep 30
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}

      # BƯỚC MỚI: Cấp quyền ghi cho thư mục hiện tại trước khi scan
      - name: Cap quyen ghi file (Fix loi Docker)
        run: chmod -R 777 .

      # --- PHẦN QUAN TRỌNG: TẤN CÔNG & XUẤT REPORT ---
      - name: Tan cong bang OWASP ZAP
        uses: zaproxy/action-baseline@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://localhost:8080' # Địa chỉ web cần tấn công
          
          # THAY ĐỔI 1: Thêm tham số -r để xuất file report HTML
          cmd_options: '-a -r zap_report.html' 
          
          allow_issue_writing: false
          # Không cho fail ngay, để còn chạy bước upload report ở dưới
          fail_action: false 

      # THAY ĐỔI 2: Upload file report lên GitHub
      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        if: always() # Luôn chạy bước này dù ZAP có tìm ra lỗi hay không
        with:
          name: ZAP-Security-Report # Tên file khi tải về trên Web
          path: zap_report.html      # Tên file khớp với tham số -r ở trên