name: 1. SAST Scan (SonarCloud)

on:
  workflow_dispatch: # Kích hoạt thủ công bằng nút bấm

jobs:
  build-analyze:
    name: Build & SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - name: Lay code ve
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Quan trọng cho SonarQube

      - name: Cai dat Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build va Test (Ket noi Mongo)
        run: mvn -B verify
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}

      - name: Quet SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}